.chatContainer {
  margin: 0 !important;
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  max-width: 100%;
}

.guestList li > div {
  padding: 10px;
}

.subheader {
  background-color: #ffffff !important;
}

.guestListContainer {
  max-height: calc(100vh - 64px);
  overflow-x: scroll;
  border-left: 1px solid #cacaca;
}

.chatTextarea {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.chatArea {
  position: relative;
  height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);
}

.chatMessages {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  height: calc(100vh - 220px);
  max-height: calc(100vh - 220px);
  overflow-y: scroll;
}

.time {
  font-size: 12px;
  margin-left: 10px;
  color: #666;
}
